@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    font-family: 'Pixelify Sans', Arial, sans-serif;
    background-color: #232424; 
    color: white; 
    height: 100vh; 
    margin: 0;
}

iframe {
    border: 1px solid #fafafa; 
    max-width: 100%; 
}

.tutorial {
    max-width: 350px;
    border: 1px solid #fafafa;
    padding: 0 25px 25px 25px;
    text-align: center;
}

.tutorial h2 {
    text-align: center;
    color: #8f2fe9;
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.tutorial strong {
    font-size: 25px;
    color: #8f2fe9;
}

.tutorial p {
    margin: 5px 0;
    font-size: 20px;
}

.credits {
    position: absolute;
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%);
    color: white;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.credits a {
    color: #a058e4;
    text-decoration: none;
}

@media (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column; 
    }

    iframe {
        width: 90%; 
        height: auto;
        min-width: 300px; 
        min-height: 300px; 
    }

    .tutorial {
        width: 90%; 
        margin-top: 15px; 
        text-align: center; 
        border: none;
    }

    .tutorial h2 {
        font-size: 24px; 
    }

    .tutorial p {
        font-size: 18px; 
    }

    .credits { 
        font-size: 14px; 
    }
}